<div id="intro" >
    <div class="container-fluid">
      <h1>Your customers and employees have a story to tell.</h1>
      <h1>We turn that story into actionable insight, instantly.</h1>
    </div>
</div>

<div class="grid">
  <figure class="effect-oscar">
      <img src="images/14.jpg" alt="img09"/>
      <figcaption>
              <h2><span>Philosophy</span></h2>
              <p>Our approach on engagement is simple, actionable, and tied to company performance. </p>
              <a href="#">View more</a>
  </figure>
  <div class="effect-oscar1">
      <h2><span>Philosophy</span></h2>
      <p>Our approach on engagement is simple, actionable, and tied to company performance. </p>
      <a href="#">View more</a>
  </div>
</div>

<div class="grid" style="float: left;margin-top: 70px;border-top: 1px solid;padding-top: 40px;">
  <div class="effect-oscar1" style="float: left;margin: 10px 1%;min-width: 320px;max-width: 480px;max-height: 360px;width: 48%;overflow: hidden;">
      <h2><span>Methodology</span></h2>
      <p>The Perceptyx Methodology uses the employee survey itself as a vehicle for engaging people.</p>
      <a href="#">View more</a>
  </div>
  <figure class="effect-oscar">
      <img src="images/33.jpg" alt="img09"/>
      <figcaption>
              <h2><span>Methodology</span></h2>
              <p>The Perceptyx Methodology uses the employee survey itself as a vehicle for engaging people.</p>
              <a href="#">View more</a>
  </figure>
</div>

<div class="grid" style="float: left;margin-top: 70px;border-top: 1px solid;padding-top: 40px;">
  <figure class="effect-oscar">
      <img src="images/32.jpg" alt="img09"/>
      <figcaption>
              <h2><span>Technology</span></h2>
              <p>The Perceptyx platform is fast, accurate, secure, stable, and smart. It defines state of the art.</p>
              <a href="#">View more</a>
  </figure>
  <div class="effect-oscar1" style="float: left;margin: 10px 1%;min-width: 320px;max-width: 480px;max-height: 360px;width: 48%;overflow: hidden;">
      <h2><span>Technology</span></h2>
      <p>The Perceptyx platform is fast, accurate, secure, stable, and smart. It defines state of the art.</p>
      <a href="#">View more</a>
  </div>
</div>

<!-- <header>
<nav id="nav" class="ry">
  <ul id="main-menu">
    <li>
      <a href="#"><i class="fa fa-home"></i> Home</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-user"></i> About <i class="fa fa-caret-down"></i></a>
        <ul class="submenu">
        <li><a href="#0">Meet the Team</a></li>
        <li><a href="#0">Careers</a></li>
        <li>
          <a href="#0">More Items <i class="fa fa-caret-right"></i></a>
           <ul class="submenu">
            <li><a href="#0">A Sub-Item</a></li>
            <li>
              <a href="#0">A Sub-Item</a>
             </li>
            <li>
              <a href="#0">A Sub-Item</a>
             </li>
          </ul>  
         </li>
      </ul>  
    </li> -->
    <!-- <li>
      <a href="#"><i class="fa fa-briefcase"></i> Clients <i class="fa fa-caret-down"></i></a>
       <ul class="submenu">
        <li><a href="#0">Lorem</a></li>
        <li><a href="#0">Aliquam</a></li>
        <li><a href="#0">Vestibulum</a></li>
        <li><a href="#0">Ipsum</a></li>
        <li><a href="#0">Consectetur</a></li>
      </ul>  
    </li> -->
<!--     <li>
      <a href="#"><i class="fa fa-comment"></i> Contact Us</a>
    </li>
  </ul>
</nav>  
</header> -->