<nav class="navbar navbar-default navbar-cls-top" role="navigation" style="margin-bottom: 0">
	<div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;">
		<!-- <a href="#/login" class="btn btn-danger square-btn-adjust" ng-click="logout()" data-target="#myModal">Login</a> -->
		<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Login</button> -->
		<a class="btn btn-danger square-btn-adjust" data-toggle="modal" data-target="#myModal">Login</a>
	</div>
</nav>


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body11">
        <div>
		    <div>
		    	<div class="row">
		            <div class="col-md-12 page-title">
		    			<h1>Login</h1>
		    		</div>
		    	</div>
		    	<hr>
				<div class="form">
				  <div class="thumbnail"><img src="assets/img/hat.svg"/></div>
				  <form class="register-form" ng-show="showsignup">
				    <input type="text" class="textbox" id="fname" placeholder="First name" ng-model="fname"/>
				    <input type="text" class="textbox" id="lname" placeholder="Last name" ng-model="lname"/>
				    <input type="text" class="textbox" id="company" placeholder="Company" ng-model="company"/>
				    <input type="text" class="textbox" id="role" placeholder="Role" ng-model="role"/>
				    <input type="password" class="textbox" id="pass" placeholder="password" ng-model="password"/>
				    <input type="password" class="textbox" id="cpass" placeholder="Confim password" ng-model="cpassword"/>
				    <input type="email" class="textbox" id="login" placeholder="email" ng-model="email"/>
				    <button ng-click="saveUser()">create</button>
				    <p class="message">Already registered? <a >Sign In</a></p>
				  </form>
				  <div class="notification-login" ng-show="shownoti">
				  	<span class="set-gap"><h3>Thank you {{fname}}</h3></span>
				  	<span class="set-gap"><p>Please check your {{email}} to continue</p></span>
				  </div>
				  <form class="login-form" ng-show="!showsignup">
				    <input type="text" class="textbox" id="login" placeholder="username" ng-model="username"/>
				    <input type="password" class="textbox" id="pass" placeholder="password" ng-model="password"/>
				    <button ng-click="signin()">login</button>
				    <p class="message">Not registered? <a ng-click="showsignup = true">Create an account</a></p>
				  </form>
				</div>
			</div>
		</div>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- <div>
    <div id="page-inner">
    	<div class="row">
            <div class="col-md-12 page-title">
    			<h1>Login</h1>
    		</div>
    	</div>
    	<hr>
		<div class="form">
		  <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
		  <form class="register-form" ng-show="showsignup">
		    <input type="text" placeholder="name"/>
		    <input type="password" placeholder="password"/>
		    <input type="text" placeholder="email address"/>
		    <button>create</button>
		    <p class="message">Already registered? <a ng-click="signin()">Sign In</a></p>
		  </form>
		  <form class="login-form" ng-show="!showsignup">
		    <input type="text" placeholder="username"/>
		    <input type="password" placeholder="password"/>
		    <button>login</button>
		    <p class="message">Not registered? <a ng-click="signup()">Create an account</a></p>
		  </form>
		</div>
	</div>
</div>
 -->
