<div id="wrapper">
    <div ng-include="'partials/sidebar-template.html'"></div>
        <div class="content animated bounceInUp" id="page-wrapper">
            <div id="page-inner">
            	<div class="row">
                    <div class="col-md-12 page-title">
            			<h1>Morning Preview</h1>
            		</div>
            	</div>
            	<hr>
            	<div class="row">
                    <div class="col-md-12 sub-heading">
            			<h3>GAIN EXECUTIVE TRUST</h3>
            		</div>
            	</div>
            	<div class="row">
                    <div class="col-md-12 para">
            			<h3>Cross Functional Influence</h3>
            		</div>
            	</div>
            	<div class="row">
                    <div class="col-md-12 sub-heading">
            			<h3>Develop Executive Level Relationships</h3>
            		</div>
            	</div>

            	<hr>

            	<div class="row panel-back">
                    <div class="col-md-12">
            			<div class="checkbox checkbox-primary">
        				    <input id="checkbox2" class="styled" type="checkbox">
        				    <label for="checkbox2">Ownership</label>
        				    <p>I step up fully --- outwardly applying the unique skills and capabilities I have earned --- aware of how my role and conversations create impact</p>
        				</div>
            		</div>
            	</div>

            	<div class="row">
                    <div class="col-md-12">
            			<div class="checkbox checkbox-primary">
        				    <input id="checkbox2" class="styled" type="checkbox">
        				    <label for="checkbox2">INTRAPRENEURIAL THINKING</label>
        				    <p>Creative, pre-emptive and resourceful, I ask questions that demonstrate my leadership capacity and provoke fresh, collaborative ideas</p>
        				</div>
            		</div>
            	</div>

            	<div class="row">
                    <div class="col-md-12 panel-back">
            			<div class="checkbox checkbox-primary">
        				    <input id="checkbox2" class="styled" type="checkbox">
        				    <label for="checkbox2">HUMILITY</label>
        				    <p>Appropriately, I initiate conversation and speak up in meetings when my expertise/role-based perspective can support people, elevate performance and help my organization realize its goals</p>
        				</div>
            		</div>
            	</div>

        		<div class="checkbox checkbox-primary">
        		    <h3 style="font-weight: bold;">Increase Retention</h3>
        		    <h3>Inspire Trust</h3>
        		</div>

        		<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">           
                        <div class="panel panel-back noti-box">
                            <div class="text-box" >
                                <a class="btn btn-primary btn-lg" ng-click="submitPreview()">Submit I'am ALL In !</a>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>