<div id="wrapper">
    <div ng-include="'partials/sidebar-template.html'"></div>
        <div class="content animated bounceInUp" id="page-wrapper">
		    <div id="page-inner">
		    	<div class="row fade-in one">
		            <div class="col-md-12 page-title">
		    			<h1>Settings</h1>
		    		</div>
		    	</div>
		    	<hr>
		    	<div class="panel-set panel-back noti-box-set fade-in two" id="profileBlock">
		    		<div class="row" ng-click="collapse(0,'profileBlock')">
			            <div class="col-md-12 hover-effect" >
			            	<div class="noti-set">
				            	<span class="icon-box bg-color-blue set-icon">
				                    <i class="fa fa-profile"></i>
				                </span>
				            </div>
			    			<h2>Profile</h2>
			    		</div>
			    	</div>
			    	<div class="panel-option" ng-show="showProfile">
			    		<hr>
				    	<div class="row">
				    		<div class="col-md-12">
					            <img src="assets/img/find_user.png" class="user-image img-responsive image-border">
					    	</div>
					    </div>
					    <hr>
					    <div class="row">
				    		<div class="col-md-4 col-sm-4 col-xs-4 font-bold">
				    			<h4>Full Name :</h4>
					    	</div>
					    	<div class="col-md-7 col-sm-7 col-xs-7">
					    		<h4>Alex Saldera</h4>
					    	</div>
					    </div>
					    <hr>
					    <div class="row">
				    		<div class="col-md-4 col-sm-4 col-xs-4  font-bold">
					    		<h4>Company Name :</h4>
					    	</div>
					    	<div class="col-md-7 col-sm-7 col-xs-7">
					    		<h4>Qualcomm</h4>
					    	</div>
					    </div>
					    <hr>
					    <div class="row">
				    		<div class="col-md-4 col-sm-4 col-xs-4  font-bold">
					    		<h4>Role :</h4>
					    	</div>
					    	<div class="col-md-7 col-sm-7 col-xs-7">
					    		<h4>Sr. Director, Unit X, IT System Integration</h4>
					    	</div>
					    </div>
					    <hr>
					    <div class="row">
				    		<div class="col-md-4 col-sm-4 col-xs-4  font-bold">
					    		<h4>My Current Development Goals:</h4>
					    	</div>
					    	<div class="col-md-7 col-sm-7 col-xs-7">
					    		<h4>Gain Excutive Trust Increase Retention</h4>
					    	</div>
					    </div>
					    <hr>
					    <div class="row">
				    		<div class="col-md-4 col-sm-4 col-xs-4  font-bold">
					    		<h4>My Performance Goals:</h4>
					    	</div>
					    	<div class="col-md-7 col-sm-7 col-xs-7">
					    		<h4>Improve productivity by 20% Fund and launch cross-departmental project A</h4>
					    	</div>
					    </div>
					    <hr>
					    <div class="row">
				    		<div class="col-md-4 col-sm-4 col-xs-4  font-bold">
					    		<h4>Current Key Stakeholders:</h4>
					    	</div>
					    	<div class="col-md-7 col-sm-7 col-xs-7">
					    		<h4>Nancy, Jordan, Christina, Joshua, James, Kit, Kelly, Nita, Roberto, Team X Reports</h4>
					    	</div>
					    </div>
					    <hr>
					    <div class="row">
				    		<div class="col-md-4 col-sm-4 col-xs-4  font-bold">
					    		<h4>Training Cycle:</h4>
					    	</div>
					    	<div class="col-md-7 col-sm-7 col-xs-7">
					    		<h4>20 out of 90 days left</h4>
					    	</div>
					    </div>
					</div>
		    	</div>

		    	<div class="panel-set panel-back noti-box-set fade-in three" id="inviteBlock">
		    		<div class="row" ng-click="collapse(1,'inviteBlock')">
			            <div class="col-md-12 hover-effect">
			            	<div class="noti-set">
				            	<span class="icon-box bg-color-blue set-icon">
				                    <i class="fa fa-invite"></i>
				                </span>
				            </div>
			    			<h2>Invite Raters</h2>
			    		</div>
			    	</div>
			    	<div class="panel-option" ng-show="showinviteRater">
			    		<hr>
				    	<div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 formelem">
				    			<!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
				    			<div id="email-label">
				    				<input type="email" class="textbox" id="email" placeholder="email" ng-model="emailId"/>
				    			</div>
				    			<!-- </input> -->
					    	</div>
				    		<!-- <div class="col-md-4 col-sm-4 col-xs-4 font-bold">
				    			<h4>Email</h4>
					    	</div>
					    	<div class="col-md-7 col-sm-7 col-xs-7" style="padding-top: 20px;">
					    		<input type="email" class="form-control" id="usr" placeholder="email" ng-model="id">
					    	</div> -->
					    </div>
					    <hr>
					    <div class="set-hover11">
					    	<div class="row">
						    	<div style="width: 100%; padding: 0px 10px 0px 10px;">
							    	<div class="set-back-color" ng-click="optionCollapse()">
							    		<div class="col-md-11 col-sm-11 col-xs-11 font-bold">
							    			<h4>Choose Section to be rated on</h4>
								    	</div>
								    	<div class="col-md-1 col-sm-1 col-xs-1 padding-set">
							                <span class="icon-image">
							                    <i class="fa fa-up" ng-show="showOption"></i>
							                    <i class="fa fa-down" ng-show="!showOption"></i>
							                </span>
								    	</div>
							    	</div>
							    </div>
						    </div>
						
						    <div ng-show="showOption">
							    <div class="row" style="margin-top:20px;">
						    		<div class="col-md-12 col-sm-12 col-xs-12 formelem">
						    			<!-- <h4>Owenership</h4> -->
						    			<div class="checkbox checkbox-primary">
									    	<input id="checkbox2" class="styled" type="checkbox">
									    	<label id ="checkbox2"for="checkbox2">Ownership</label>
										</div>
							    	</div>
							    	
							    </div>
							    <hr>
							    <div class="row">
						    		<div class="col-md-12 col-sm-12 col-xs-12 formelem">
						    			<!-- <h4>Intrapreneurial Thinking</h4> -->
						    			<div class="checkbox checkbox-primary">
									    	<input id="checkbox2" class="styled" type="checkbox">
									    	<label id ="checkbox2"for="checkbox2">Intrapreneurial Thinking</label>
										</div>
							    	</div>
							    </div>
							    <hr>
							    <div class="row">
						    		<div class="col-md-12 col-sm-12 col-xs-12 formelem">
						    			<!-- <h4>Humility</h4> -->
						    			<div class="checkbox checkbox-primary">
									    	<input id="checkbox2" class="styled" type="checkbox">
									    	<label id ="checkbox2"for="checkbox2">Humility</label>
										</div>
							    	</div>
							    </div>
						    </div>
						</div>    
				    	<!-- <div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 font-bold">
				    			<h4>Choose Sections to be rated on</h4>
					    	</div>
					    </div> -->
					    <!-- <div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 font-bold">
				    			<fieldset class="form-group">
				    			<span class="custom-dropdown">
								    <select id="exampleSelect1">
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								    </select>
								</span>
								</fieldset>
					    	</div>
					    </div> -->
					    <hr>
				    	<div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 font-bold">
				    			<h4>Increase Retention</h4>
					    	</div>
					    </div>
					    <div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 font-bold formelem">
				    			<fieldset class="form-group">
								    <select class="form-control set-height" id="exampleSelect2">
								      <option>Inspire Trust</option>
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								    </select>
								</fieldset>
					    	</div>
					    </div>
				    	<div class="row">
					    	<div class="col-md-12 col-sm-12 col-xs-12 formelem">
					    		<!-- <input type="text" class="form-control" id="usr" placeholder="Add statement" ng-model="id"> -->
					    		<div id="add-label">
					    			<input type="text" class="textbox" id="addstate1" placeholder="Add statement" ng-model="emailId"/>
					    		</div>
					    	</div>
					    </div>
					    <hr>
					    <div class="row" style="padding-bottom:20px;">
					    	<div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-3 col-md-9 col-sm-10 col-xs-12 formelem">
					    		<a class="btn btn-primary btn-lg" ng-click="submitReview()">Send Invitation</a>
					    	</div>
					    </div>
					</div>
		    	</div>

		    	<div class="panel-set panel-back noti-box-set fade-in four" id="manageBlock">
			    	<div class="row">
			            <div class="col-md-12 hover-effect" ng-click="collapse(2,'manageBlock')">
			            	<div class="noti-set">
				            	<span class="icon-box bg-color-blue set-icon">
				                    <i class="fa fa-manage"></i>
				                </span>
				            </div>
			    			<h2>Manage Raters</h2>
			    		</div>
			    	</div>

			    	<div class="panel-option" ng-show="showManage">
			    		<hr>
				    	<div class="row">
				    		<div class="col-md-3 col-sm-3 col-xs-3">
				    			<img src="assets/img/find_user.png" class="user-image1">
				    		</div>
				    		<div class="col-md-3 col-sm-3 col-xs-3">
				    			<h4>Jordan Norman</h4>
				    		</div>
				    		<div class="col-md-4 col-sm-4 col-xs-4">
				    		</div>
				    		<div class="col-md-1 col-sm-1 col-xs-1 padding-set">
				    			<span class="icon-image">
				                    <i class="fa fa-phone"></i>
				                </span>
				            </div>
				            <div class="col-md-1 col-sm-1 col-xs-1 padding-set">
				                <span class="icon-image">
				                    <i class="fa fa-mail"></i>
				                </span>
					    	</div>
					    </div>
					    <hr>
				    	<div class="row">
				    		<div class="col-md-3 col-sm-3 col-xs-3">
				    			<img src="assets/img/find_user.png" class="user-image1">
				    		</div>
				    		<div class="col-md-3 col-sm-3 col-xs-3">
				    			<h4>Christina Miller</h4>
				    		</div>
				    		<div class="col-md-4 col-sm-4 col-xs-4">
				    		</div>
				    		<div class="col-md-1 col-sm-1 col-xs-1 padding-set">
				    			<span class="icon-image">
				                    <i class="fa fa-phone"></i>
				                </span>
				            </div>
				            <div class="col-md-1 col-sm-1 col-xs-1 padding-set">
				                <span class="icon-image">
				                    <i class="fa fa-mail"></i>
				                </span>
					    	</div>
					    </div>
					    <hr>
				    	<div class="row">
				    		<div class="col-md-3 col-sm-3 col-xs-3">
				    			<img src="assets/img/find_user.png" class="user-image1">
				    		</div>
				    		<div class="col-md-3 col-sm-3 col-xs-3">
				    			<h4>Nancy Bordeaux</h4>
				    		</div>
				    		<div class="col-md-4 col-sm-4 col-xs-4">
				    		</div>
				    		<div class="col-md-1 col-sm-1 col-xs-1 padding-set">
				    			<span class="icon-image">
				                    <i class="fa fa-phone"></i>
				                </span>
				            </div>
				            <div class="col-md-1 col-sm-1 col-xs-1 padding-set">
				                <span class="icon-image">
				                    <i class="fa fa-mail"></i>
				                </span>
					    	</div>
					    </div>

					    <hr>
				    	<div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 font-bold">
				    			<h4>Pending</h4>
					    	</div>
					    </div>
					    <hr>
				    	<div class="row">
				    		<div class="col-md-3 col-sm-3 col-xs-3">
				    			<img src="assets/img/find_user.png" class="user-image1">
				    		</div>
				    		<div class="col-md-3 col-sm-3 col-xs-3">
				    			<h4>Nancy Bordeaux</h4>
				    		</div>
				    		<div class="col-md-4 col-sm-4 col-xs-4">
				    		</div>
				    		<div class="col-md-1 col-sm-1 col-xs-1 padding-set">
				    			<span class="icon-image">
				                    <i class="fa fa-phone"></i>
				                </span>
				            </div>
				            <div class="col-md-1 col-sm-1 col-xs-1 padding-set">
				                <span class="icon-image">
				                    <i class="fa fa-mail"></i>
				                </span>
					    	</div>
					    </div>
					</div>
			    </div>

			    <div class="panel-set panel-back noti-box-set fade-in five" id="acceptBlock">
			    	<div class="row hover-effect" >
			            <div class="col-md-11 col-sm-11 col-xs-11" ng-click="collapse(3,'acceptBlock')">
			            	<div class="noti-set">
				            	<span class="icon-box bg-color-blue set-icon">
				                    <i class="fa fa-accept"></i>
				                </span>
				            </div>
			    			<h2>Accepts Invitation</h2>
			    		</div>
			    		<div class="col-md-1 col-sm-1 col-xs-1" style="padding-top: 40px;">
				    		<span class="badge-set">3</span>
			    		</div>
			    	</div>
			    	<div class="panel-option" ng-show="showAccept">
			    		<hr>
				    	<div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 font-bold">
				    			<h4>Hey, Alex!</h4>
					    	</div>
					    </div>
					    <div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 font-bold">
				    			<h4>Tim Zhang wants you on his 360 team:</h4>
					    	</div>
					    </div>
					    <hr>
				    	<div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 font-bold">
				    			<h4>Gain Executive Trust</h4>
					    	</div>
					    </div>
					    <div class="row">
				    		<div class="col-md-12 col-sm-12 col-xs-12 font-bold formelem">
				    			<fieldset class="form-group">
								    <select class="form-control set-height" id="exampleSelect2">
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								      <option>Cross Functional Influence</option>
								    </select>
								</fieldset>
					    	</div>
					    </div>
					    <hr>
					    <div class="set-hover">
						    <div class="row">
						    	<div style="width: 100%; padding: 0px 10px 0px 10px;">
							    	<div class="set-back-color" ng-click="optionCollapse()">
							    		<div class="col-md-11 col-sm-11 col-xs-11 font-bold">
							    			<h4>Develop Executive Level Relationships</h4>
								    	</div>
								    	<div class="col-md-1 col-sm-1 col-xs-1 padding-set">
							                <span class="icon-image">
							                    <i class="fa fa-up" ng-show="showOption"></i>
							                    <i class="fa fa-down" ng-show="!showOption"></i>
							                </span>
								    	</div>
							    	</div>
							    </div>
						    </div>
						    <div ng-show="showOption">
							    <div class="row">
						    		<div class="col-md-12 col-sm-12 col-xs-12 option-pad formelem">
						    			<h4>Owenership</h4>
							    	</div>
							    </div>
							    <hr>
							    <div class="row">
						    		<div class="col-md-12 col-sm-12 col-xs-12 option-pad formelem">
						    			<h4>Intrapreneurial Thinking</h4>
							    	</div>
							    </div>
							    <hr>
							    <div class="row">
						    		<div class="col-md-12 col-sm-12 col-xs-12 option-pad formelem">
						    			<h4>Humility</h4>
							    	</div>
							    </div>
						    </div>
						</div>    
					    <hr>
					    <div class="row">
				    		<!-- <div class="col-md-12 col-sm-12 col-xs-12">
				    			<a class="btn btn-primary btn-lg" ng-click="submitReview()">Accept</a>
					    	</div> -->
					    	<div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-3 col-md-9 col-sm-10 col-xs-12 formelem">
					    		<a class="btn btn-primary btn-lg set-width" ng-click="submitReview()">Accept</a>
					    	</div>
					    </div>
					    <hr>
					    <div class="row">
				    		<!-- <div class="col-md-12 col-sm-12 col-xs-12">
				    			<a class="btn btn-danger btn-lg" ng-click="submitReview()">Can not commit</a>
					    	</div> -->
					    	<div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-3 col-md-9 col-sm-10 col-xs-12 formelem" style="padding-bottom=20px;">
					    		<a class="btn btn-danger btn-lg set-width" ng-click="submitReview()">Can not commit</a>
					    	</div>
					    </div>
					</div>
			    </div>
		    </div>
		</div>
	</div>
</div>