<div ng-show="loaded" class="container-fluid">
    <div class="page-header">
        <h2>Users</h2>
    </div>
    <div>
        <form class="form-horizontal">
            <div ng-show="true" class="form-group">
                <div class="col-md-8">
                    <tags-input id="tags" ng-model="tags" type="email" display-property="primaryEmail" placeholder="Search Users .." replace-spaces-with-dashes="false">
                        <auto-complete source="loadUsers($query)" min-length="1" max-results-to-show="10"></auto-complete>
                    </tags-input>
                </div>
            </div>
        </form>
        <div class="form-group">
            <a ng-href="#" ng-click="ok()" data-toggle="tooltip" data-placement="bottom"
            	 title="Click here to provide User-level access to all the Users you just mentioned above. User-level access will allow above users to manage Rules/Signature alongwith the right to apply any Rule.You may anytime revoke the access by clicking 'Remove' user from below access list">
            	<u>Add Users</u></a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="min-width:100px">Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="users in userList">
                    <td>{{users}}</td>
                    <td><script>
                    	$(function () {
	  					$('[data-toggle="tooltip"]').tooltip()
						})
						</script>
                    <a href="#" ng-click="removeUser(users)" data-toggle="tooltip" data-placement="bottom"
            	 title="Revoke user's access">Remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div style="padding-left:20px" ng-show="alert.show">
        <alert type="{{alert.type}}" close="closeAlert($index)" style="width:40%;">{{alert.msg}}</alert>
    </div>
    <br>
    <div style="padding-top:60px" ng-show="false">
        <span class="col-md-2"><a ng-href="#" ng-click="ok()">Save Changes</a></span>
        <span class="col-md-offset-3"><a ng-href="#" ng-click="addUser = !addUser">Add New User</a></span>
        <span class="col-md-offset-3"><a ng-href="#" ng-click="cancel()">Discard Changes</a></span>
    </div>
</div>
    <script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
	</script>

<div ng-hide="loaded" style="position:absolute;left:50%;top:50%" ng-hide="loaded" class="throbber-loader">
    Loading ...
</div>