<div ng-show="loaded" class="container-fluid" style="background-color:	#EBEBE6">
    <br>
    <h3 ng-show="edit" style="padding-left:30px"><b>Create New Rule:</b></h3>
    <h3 ng-hide="edit" style="padding-left:30px"><b>Edit Rule:</b></h3>
    <hr>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Rule Title:</label>
            <div class="col-md-3">
                <input class="form-input" id="title" type="text" ng-model="title" placeholder="Rule Title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Signature:</label>
            <div class="col-md-3">
                <select  ng-options="sigs.title  for sigs in siglist track by sigs._id" id="sigid" ng-model="sigid" name="sigid"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">OrgUnit:</label>
            <div class="col-md-4">
                <autocomplete attr-input-class="form-input" id="selection" ng-model="selection" attr-placeholder="Organization unit" click-activation="true" data="ounames" on-type="valueTyped"></autocomplete>
            </div>
        </div>
    </form>
    <hr>
    <div class="col-md-6 control-label"  ng-show="alert.show" style="position:fixed">
        <alert type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div style = "padding-top:50px">
    <span class="col-md-offset-1"><a ng-href = "#" ng-click = "saveRule()">Save Changes</a></span>
    <span class="{{deleteClass}}" ng-hide="edit"><a ng-href = "#" ng-click = "deleteRule()">Delete</a></span>
    <span class="{{deleteClass}}"><a ng-href = "#" ng-click = "backRule()">Back</a></span>
    </div>
    <br>
    <br>
</div>

<div style="position:absolute;left:50%;top:50%" ng-hide="loaded" class="throbber-loader">
    Loading ....
</div>