<div ng-show="loaded" class="container-fluid">
    <div class="page-header">
        <h2>Rules <span class="small" ><a class="col-md-offset-6" ng-href="#" ng-click="editRule('new')"
        	data-toggle="tooltip" data-placement="bottom" title="Rules define the mapping between Signature template and Org unit.All rules are auto executed every night, but you can run any rule on a fly by just clicking Apply button">
        		<u>Create Rule</u></a>
    	 <a class="col-md-offset-2" ng-href="#" ng-click="applyAll()" data-toggle="tooltip" data-placement="bottom" title="Click here to apply all the rules now !"><u>Apply All</u></a></span></h2>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="selectAll()">Select All</a></li>
                                <li><a href="#" ng-click="unSelectAll()">Unselect All</a></li>
                                <li><a href="#" ng-click="deleteRules()">Delete</a></li>
                            </ul>
                        </div>
                    </th>
                    <th>Title</th>
                    <th>OrgUnit</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rule in ruleslist">
                    <td>
                        <input type="checkbox" ng-model="selectedRules[rule._id]" ng-change="bringDeleteOptions()">
                    </td>
                    <td>{{ rule.title }}</td>
                    <td>{{ rule.org_unit }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="editRule(rule._id)">
                            <span class="glyphicon glyphicon-pencil"></span>  Edit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="apply(rule._id)">
                            <span class="glyphicon glyphicon-ok"></span>  Apply
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
    <div style="padding-left:20px" ng-show="alert.show">
        <alert type="{{alert.type}}" close="closeAlert($index)" style="width:40%;">{{alert.msg}}</alert>
    </div>
    <div style="padding-top:10px" ng-show="false">
        <span class="col-md-2"><a ng-href="#" ng-click="editRule('new')">Create Rule</a></span>
        <span class="col-md-offset-3"><a ng-href="#" ng-click="deleteRules()">Delete Selected Signatures</a></span>
        <span class="col-md-2 col-md-offset-2"><a ng-href="#" ng-click="applyAll()">Apply All</a></span>
    </div>

</div>
<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
	</script>
<script type="text/ng-template" id="RulesSubmitted.html">

    <div class="modal-header">
        <h4 class="modal-title">Rule Applied Successfully</h4>
    </div>
    <div class="modal-body" ;>
        <div>Please track progress in Dashboard</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-click="ok()">OK</button>
    </div>
    </div>
</script>
<div ng-hide="loaded" style="position:absolute;left:50%;top:50%" ng-hide="loaded" class="throbber-loader">
    Loading ...
</div>