<div ng-show="loaded">
    <div style="background-color:	#EBEBE6">
        <br>
        <h3 ng-show="edit" style="padding-left:30px"><b>Create Signature</b></h3>
        <h3 ng-hide="edit" style="padding-left:30px"><b>Preview & Edit</b></h3>
        <form name="signatureForm" class="form-horizontal">
            <br>

            <div class="form-group">
                <label class="col-sm-2 control-label">Signature Title:</label>
                <div class="col-sm-3">
                    <input class="form-input" id="title" type="text" ng-model="title" placeholder="Signature Title">
                </div>
            </div>

            <div class="form-group">
                <br>
                <div class="col-sm-12">
                    <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-toolbar="[[],['h1','h2','h3'], ['p','pre' ,'quote'], ['bold','italics','underline'] ,['undo','redo' ,'clear'],
    					['justifyLeft','justifyCenter' ,'justifyRight','html'], ['insertImage','insertLink'],['dropDown']]" ta-toolbar-group-class="btn-group">
                    </div>
                </div>
            </div>
        </form>

        <div style="padding-left:20px" ng-show="alert.show">
            <alert type="{{alert.type}}" close="closeAlert($index)" style="width:40%;">{{alert.msg}}</alert>
        </div>
        <div>
            <span style="padding-left:20px"><a ng-href = "#" ng-click = "saveSig()">Save Changes</a></span>

            <span class="col-md-offset-2" ng-hide="edit"><a ng-href = "#" ng-click = "deleteSig()">Delete</a></span>

            <span class="col-md-offset-2"><a ng-href = "#" ng-click = "previewNow()">Preview</a></span>

            <span class="{{backClass}}"><a ng-href = "#" ng-click = "backSig()">Back</a></span>

            <br>
            <br>

        </div>
    </div>

    <script type="text/ng-template" id="PreviewNow.html">
        <div class="modal-header">
            <h3 class="modal-title">Signature Preview</h3>
        </div>
        <div class="modal-body">
            <div ng-bind-html="previewData"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>

<div style="position:absolute;left:50%;top:50%" ng-hide="loaded" class="throbber-loader">
    Loading ....
</div>