* {
    padding: 0px;
}

.page-header.small {
    font-size: 14px;
}

.form-input {
    width: 100% ;
    padding: 0.4em;
    height: 30px;
    border-radius: 5px;
}

.tooltip-inner {
	background-color:#9e9c9f;
}

/* AUTOCOMPLETE. */

.autocomplete {
    width: 100% ;
    position: relative;
    font-size: 0.8em;
}

.autocomplete input {
    border-radius: 5px;
}

.autocomplete ul {
    font-size: 1.2em;
    position: absolute;
    left: 0;
    width: 100% ;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active {
    width: 100% ;
    background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active.highlight {
    background: #666;
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.navbar-top-links li: last-child {
    margin-right: 20px;
}

#content {
    padding: 0 10px;
}

.strikeThrough {
    text-decoration: line-through;
}

.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
color: #c09853;
/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.input-xs {
height: 22px;
padding: 2px 5px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
    }

.bar {
    background: blue;
    position: absolute;
    bottom: 0;
}

.chart {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin: 60px auto;
  position: relative;
}

.y {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
  padding: 5px;
}

.x {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 5px;
}

@media(min-width:768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top:50px;
	}

	#content {
		margin: 0 0 0 250px;
		border-left: 1px solid #eeeeee;
	}
}

.dropdown.btn-xs {
        width: 40px;
        height: 20px;
    }
    .dropdown.caret {
        padding-bottom: 7px;
    }

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.center-modal {
    position: fixed;
    top: 15%;
    left: 0%;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #1F5C99 ;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.modal-body {
	max-height:300px;
	overflow:scroll;
}

 .modal-footer {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #1F5C99 ;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #333333;
  opacity:0.8;
    }
}

tags-input{display:block}
tags-input *,tags-input :after,tags-input :before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
tags-input .host{position:relative;margin-top:5px;margin-bottom:5px;height:100%}
tags-input .host:active{outline:0}
tags-input .tags {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding: 1px;
    min-height: 50px;
    max-height: 50px;
    overflow: scroll;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0 #d3d3d3 inset;
    height: 80%
}
tags-input .tags.focused{outline:0;-webkit-box-shadow:0 0 3px 1px rgba(5,139,242,.6);-moz-box-shadow:0 0 3px 1px rgba(5,139,242,.6);box-shadow:0 0 3px 1px rgba(5,139,242,.6)}
tags-input .tags .tag-list{margin:0;padding:0;list-style-type:none}
tags-input .tags .tag-item{margin:2px;padding:0 5px;display:inline-block;float:left;font:14px "Helvetica Neue",Helvetica,Arial,sans-serif;height:22px;line-height:21px;border:1px solid #acacac;border-radius:3px;background:-webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);background:linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%)}
tags-input .tags .tag-item.selected{background:-webkit-linear-gradient(top,#febbbb 0,#fe9090 45%,#ff5c5c 100%);background:linear-gradient(to bottom,#febbbb 0,#fe9090 45%,#ff5c5c 100%)}
tags-input .tags .tag-item .remove-button{margin:0 0 0 5px;padding:0;border:none;background:0 0;cursor:pointer;vertical-align:middle;font:700 16px Arial,sans-serif;color:#585858}
tags-input .tags .tag-item .remove-button:active{color:red}
tags-input .tags .input{border:0;outline:0;margin:2px;padding:0;padding-left:5px;float:left;height:26px;font:14px "Helvetica Neue",Helvetica,Arial,sans-serif}
tags-input .tags .input.invalid-tag{color:red}
tags-input .tags .input::-ms-clear{display:none}
tags-input.ng-invalid .tags{-webkit-box-shadow:0 0 3px 1px rgba(255,0,0,.6);-moz-box-shadow:0 0 3px 1px rgba(255,0,0,.6);box-shadow:0 0 3px 1px rgba(255,0,0,.6)}
tags-input[disabled] .host:focus{outline:0}tags-input[disabled] .tags{background-color:#eee;cursor:default}
tags-input[disabled] .tags .tag-item{opacity:.65;background:-webkit-linear-gradient(top,#f0f9ff 0,rgba(203,235,255,.75)47%,rgba(161,219,255,.62)100%);background:linear-gradient(to bottom,#f0f9ff 0,rgba(203,235,255,.75)47%,rgba(161,219,255,.62)100%)}
tags-input[disabled] .tags .tag-item .remove-button{cursor:default}
tags-input[disabled] .tags .tag-item .remove-button:active{color:#585858}
tags-input[disabled] .tags .input{background-color:#eee;cursor:default}
tags-input .autocomplete{margin-top:5px;position:absolute;padding:5px 0;z-index:999;width:100%;background-color:#fff;border:1px solid rgba(0,0,0,.2);-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2)}
tags-input .autocomplete .suggestion-list{margin:0;padding:0;list-style-type:none;max-height:280px;overflow-y:auto;position:relative}
tags-input .autocomplete .suggestion-item{padding:5px 10px;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font:16px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#000;background-color:#fff}
tags-input .autocomplete .suggestion-item.selected,tags-input .autocomplete .suggestion-item.selected em{color:#fff;background-color:#0097cf}
tags-input .autocomplete .suggestion-item em{font:normal bold 16px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#000;background-color:#fff}
